<div class="row justify-content-center">
  <div class="container">
    <div class="form-group" [formGroup]="operForm">
      <div class="row">
        <div class="col-md-2">
          <td>
            <input type=month step="1" class="form-control" formControlName="date" (change)="findALL()">
          </td>
        </div>
        <div class="col-md-10">
          <button type="submit" class="btn btn-success" style="display: block; margin-left: 900px"
                  (click)="openModalWindowAskAdd(content, -100, '', [], 0, 0,
            0)">Добавить оператора
          </button>
        </div>
      </div>
      <div>
        <p></p>
      </div>
      <div class="overflow">
        <table class="table table-striped text-center align-middle">
          <thead>
          <tr>
            <th></th>
            <th></th>
            <th *ngFor="let day of days; let i = index"><a href="" [routerLink]="['/operator/change', day, month, year]">
              {{(operForm.get(['date'])!.value) + "-" + day}} </a>
            </th>
            <th>Итого часов</th>
            <th>Ставка</th>
            <th>Итого</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let op of operatorDtos">
            <th>{{op.id}}</th>
            <th>{{op.fullName}}</th>
            <th *ngFor="let d of days">{{test(d, op)}}</th>
            <th>{{op.total_hours}}</th>
            <th>{{op.hourly_rate}}</th>
            <th>{{op.total_hours * op.hourly_rate}}</th>
            <th>
              <button class="btn btn-danger"
                      (click)="openModalWindowAskDelete(del, op.id, op.fullName)">Удалить
              </button>
            </th>
          </tr>
          </tbody>
        </table>
        <td>
          <!--          <button type="submit" class="btn btn-primary" style="display: block; " [routerLink]="['/operator/change']">Редактировать-->
          <!--                  [queryParams]="{app: op.fullName}"-->
          <!--          </button>-->
        </td>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <form [formGroup]="operForm">
    <div class="modal-header">
      <h3 class="modal-title" id="modal-answer-add">Вы действительно хотите добавить оператора?
      </h3>
    </div>
    <div class="modal-footer">
      <label>ФИ</label>
      <input type="text" class="form-control" formControlName="fullName">
      <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cancel')"><span>Отменить</span></button>
      <button type="button" class="btn btn-danger" (click)="modal.close('Save')" [disabled]="operForm.invalid">
        <span>Сохранить</span></button>
    </div>
  </form>
</ng-template>

<ng-template #del let-modal>
  <form [formGroup]="operForm">
    <div class="modal-header">
      <h3 class="modal-title">Вы действительно хотите удалить из списка оператора {{nameOperatorDelete}} ?
      </h3>
    </div>
    <div class="modal-body">
      Оператор будет удален!
    </div>
  </form>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cancel')"><span>Отменить</span></button>
    <button type="button" class="btn btn-danger" (click)="modal.close('Delete')"><span>Удалить</span></button>
  </div>
</ng-template>

