.overflow {
  overflow: auto;
  width: 1310px;
  height: 480px;
  border: 1px solid black;
}
.container{
  padding-left: 30px;
  //padding-right: 100px;
}
.table{
  width: 100%
}
.th{
  border: 1px solid black
}
