<div class="row justify-content-center">
  <div class="container">
    <form class="form-group" [formGroup]="formOpers" (ngSubmit)="submit()">
      <div class="row">
        <div class="col-md-4">
          <h4>Добавление периода работы</h4>
        </div>
        <div class="col-md-6">
          <button type="submit" class="btn btn-primary" style="display: block; margin-left: 630px"
          >Сохранить
          </button>
        </div>
        <div class="col-md-2">
          <button class="btn btn-primary" style="display: block; margin-left: 60px" [routerLink]="['/']"
          >Вернуться
          </button>
        </div>
      </div>
      <div>
        <p></p>
      </div>
      <div class="overflow">
        <table class="table table-striped text-center align-middle">
          <thead>
          <tr>
            <th>ID</th>
            <th>ФИ</th>
            <th colspan="idx">Периоды</th>
            <th></th>
            <th>Итого часов</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let d of detailSalaryDtos">
            <th style="border: 1px solid black">{{d.id}}</th>
            <th style="border: 1px solid black">{{d.fullName}}</th>
            <th *ngFor="let con of d.salaries; let idx = index">
              <div class="form-control" formGroupName="{{d.id}}">
                <input style="width: 55px" type="number" formControlName="begin{{con.id}}">
                <input style="width: 55px" type="number" formControlName="{{'end'+ con.id}}">
              </div>
            </th>
            <th style="border: 1px solid black">
              <button class="btn" type="button" (click)="addPeriodsToOperator()">+</button>
            </th>
          </tr>
          </tbody>
        </table>
      </div>
    </form>
  </div>
</div>




