<div class="row justify-content-center">
  <div class="container">
    <form class="form-group" [formGroup]="formOpers" (ngSubmit)="submit()">
      <div class="row">
        <div class="col-md-4">
          <h4>Добавление периода работы</h4>
        </div>
        <div class="col-md-6">
          <button type="submit" class="btn btn-primary" style="display: block; margin-left: 630px"
          >Сохранить
          </button>
        </div>
        <div class="col-md-2">
          <button class="btn btn-primary" style="display: block; margin-left: 60px" [routerLink]="['/']"
          >Вернуться
          </button>
        </div>
      </div>
      <div>
        <p></p>
      </div>
      <div class="overflow">
        <table class="table table-striped text-center align-middle">
          <thead>
          <tr>
            <th>ID</th>
            <th>ФИ</th>
            <th colspan="idx">Периоды</th>
            <th>Итого часов</th>
          </tr>
          </thead>
          <tbody>
          <tr formArrayName="opers" *ngFor="let getOper of getOpers().controls; let i = index">
            <td [formGroupName]="i.toString()" style="border: 1px solid black">{{getOper.get('id')?.value}}</td>
            <td [formGroupName]="i.toString()" style="border: 1px solid black">{{getOper.get('fullName')?.value}}</td>
            <!--            <td [formGroupName]="i.toString()" style="border: 1px solid black">{{getOper.get('periods')?.value.controls}}-->
            <td>
              <div formArrayName="periods"
                   *ngFor="let period of getPeriods(getOper.get('periods')).value.controls; let i = index">
                <div class="form-control">
                  <input style="width: 55px" type="number" formGroupName="{{i.toString()}}" formControlName="begin">
                  <input style="width: 55px" type="number" formGroupName="{{i.toString()}}" formControlName="end">
                </div>
              </div>
              <!--            </td>-->
            </td>
            <td style="border: 1px solid black">
              <button class="btn" type="button" (click)="addPeriodsToOperator()">+</button>
            </td>
          </tr>
          </tbody>
        </table>
        <!--        {{formOpers.value | json}}-->
      </div>
    </form>
  </div>
</div>




